transvers-service/src/main/resources/wsdl/KycRequestInvoker.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://main" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://main" xmlns:intf="http://main" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://main" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="get_PersonDetails">
    <complexType>
     <sequence>
      <element name="User_Code" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
      <element name="referenceNumber" type="xsd:string"/>
      <element name="nationalIDNumber" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="get_PersonDetailsResponse">
    <complexType>
     <sequence>
      <element name="get_PersonDetailsReturn" type="impl:PersonDetails"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="PersonDetails">
    <sequence>
     <element name="address" nillable="true" type="xsd:string"/>
     <element name="birthDate" nillable="true" type="xsd:string"/>
     <element name="cardExpirationDate" nillable="true" type="xsd:string"/>
     <element name="errorCode" type="xsd:int"/>
     <element name="errorDescription" nillable="true" type="xsd:string"/>
     <element name="familyName" nillable="true" type="xsd:string"/>
     <element name="fcn" nillable="true" type="xsd:string"/>
     <element name="gender" nillable="true" type="xsd:string"/>
     <element name="governorate" nillable="true" type="xsd:string"/>
     <element name="motherFamilyName" nillable="true" type="xsd:string"/>
     <element name="motherFirstName" nillable="true" type="xsd:string"/>
     <element name="nationalIDNumber" nillable="true" type="xsd:string"/>
     <element name="personName" nillable="true" type="xsd:string"/>
     <element name="policeStation" nillable="true" type="xsd:string"/>
     <element name="referenceNumber" nillable="true" type="xsd:string"/>
     <element name="requestNumber" nillable="true" type="xsd:string"/>
     <element name="requestTimeStamp" nillable="true" type="xsd:string"/>
     <element name="userCode" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <element name="getCompanyInformation">
    <complexType>
     <sequence>
      <element name="CompanyInformationRequest" type="impl:CompanyInformationRequest"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="Query">
    <sequence>
     <element name="classCode" nillable="true" type="xsd:string"/>
     <element name="companyUniqueIdentifier" nillable="true" type="xsd:string"/>
     <element name="nationalId" nillable="true" type="xsd:string"/>
     <element name="officeCode" nillable="true" type="xsd:string"/>
     <element name="registrationNumber" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="CompanyInformationRequest">
    <sequence>
     <element name="password" nillable="true" type="xsd:string"/>
     <element name="query" nillable="true" type="impl:Query"/>
     <element name="requestCode" nillable="true" type="xsd:string"/>
     <element name="type" nillable="true" type="xsd:string"/>
     <element name="userCode" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <element name="getCompanyInformationResponse">
    <complexType>
     <sequence>
      <element name="getCompanyInformationReturn" type="impl:CompanyInformationResponse"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="Company">
    <sequence>
     <element name="companyCEO" nillable="true" type="xsd:string"/>
     <element name="companyName" nillable="true" type="xsd:string"/>
     <element name="companyStartActivityDate" nillable="true" type="xsd:string"/>
     <element name="cra" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOfCompany">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="impl:Company"/>
    </sequence>
   </complexType>
   <complexType name="CompanyInformationResponse">
    <sequence>
     <element name="companies" nillable="true" type="impl:ArrayOfCompany"/>
     <element name="requestCode" nillable="true" type="xsd:string"/>
     <element name="responseCode" nillable="true" type="xsd:string"/>
     <element name="responseDesc" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <element name="getCompanyDocument">
    <complexType>
     <sequence>
      <element name="CompanyDocumentRequest" type="impl:CompanyDocumentRequest"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="CompanyDocumentRequest">
    <sequence>
     <element name="craNumber" nillable="true" type="xsd:string"/>
     <element name="password" nillable="true" type="xsd:string"/>
     <element name="requestCode" nillable="true" type="xsd:string"/>
     <element name="userCode" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <element name="getCompanyDocumentResponse">
    <complexType>
     <sequence>
      <element name="getgetCompanyDocumentReturn" type="impl:CompanyDocumentResponse"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="CompanyDocumentResponse">
    <sequence>
     <element name="enchodingType" nillable="true" type="xsd:string"/>
     <element name="file" nillable="true" type="xsd:string"/>
     <element name="fileExtention" nillable="true" type="xsd:string"/>
     <element name="fileName" nillable="true" type="xsd:string"/>
     <element name="requestCode" nillable="true" type="xsd:string"/>
     <element name="responseCode" nillable="true" type="xsd:string"/>
     <element name="responseDesc" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getCompanyInformationResponse">

      <wsdl:part element="impl:getCompanyInformationResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="get_PersonDetailsRequest">

      <wsdl:part element="impl:get_PersonDetails" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="get_PersonDetailsResponse">

      <wsdl:part element="impl:get_PersonDetailsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getCompanyDocumentRequest">

      <wsdl:part element="impl:getCompanyDocument" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getCompanyDocumentResponse">

      <wsdl:part element="impl:getCompanyDocumentResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getCompanyInformationRequest">

      <wsdl:part element="impl:getCompanyInformation" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="NationalID_InquiryService">

      <wsdl:operation name="get_PersonDetails">

         <wsdl:input message="impl:get_PersonDetailsRequest" name="get_PersonDetailsRequest">

       </wsdl:input>

         <wsdl:output message="impl:get_PersonDetailsResponse" name="get_PersonDetailsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCompanyInformation">

         <wsdl:input message="impl:getCompanyInformationRequest" name="getCompanyInformationRequest">

       </wsdl:input>

         <wsdl:output message="impl:getCompanyInformationResponse" name="getCompanyInformationResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCompanyDocument">

         <wsdl:input message="impl:getCompanyDocumentRequest" name="getCompanyDocumentRequest">

       </wsdl:input>

         <wsdl:output message="impl:getCompanyDocumentResponse" name="getCompanyDocumentResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="NationalID_InquiryServiceSoapBinding" type="impl:NationalID_InquiryService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="get_PersonDetails">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="get_PersonDetailsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="get_PersonDetailsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCompanyInformation">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCompanyInformationRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getCompanyInformationResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCompanyDocument">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCompanyDocumentRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getCompanyDocumentResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="NationalID_InquiryServiceService">

      <wsdl:port binding="impl:NationalID_InquiryServiceSoapBinding" name="NationalID_InquiryService">

         <wsdlsoap:address location="http://localhost:8088/Iscore_WebService/services/NationalID_InquiryService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
